html
body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  nav{
	display: flex;
    position: absolute;
    left: 35%;
	right:auto;
	top: 10px;
}
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .container .card {
    position: relative;
    width: 300px;
    margin: 10px;
  }
  
  .container .card .face {
    width: 100%;
    height: 200px;
    transition: .4s;
  }
  
  .container .card .face.face1 {
    position: relative;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
  
  .container .card:hover .face.face1 {
    transform: translateY(0);
    box-shadow:
      inset 0 0 60px white,
      inset 20px 0 80px red,
      inset -20px 0 80px white,
      inset 20px 0 300px red,
      inset -20px 0 300px white,
      0 0 50px white,
      -10px 0 80px white,
      10px 0 80px white;
  }
  
  .container .card .face.face1 .content {
    opacity: .2;
    transition: 0.5s;
    text-align: center;
  }
  
  .container .card:hover .face.face1 .content {
    opacity: 1;
  }
  
  .container .card .face.face1 .content i {
    font-size: 3em;
    color: white;
  }
  
  .container .card .face.face1 .content h3 {
    font-size: 1em;
    color: white;
  }
  
  .container .card .face.face2 {
    position: relative;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px white;
    transform: translateY(-100px);
  }
  
  .container .card:hover .face.face2 {
    transform: translateY(0);
  }
  
  .container .card .face.face2 .content p, 
  .container .card .face.face2 .content a {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: blue;
  }
  
  .container .card .face.face2 .content a {
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    outline: 1px dashed ;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
  }
  
  .container .card .face.face2 .content a:hover {
    background: none;
    color: white;
    box-shadow: inset 0px 0px 10px white;
  }
  