
#photos {
    width: 80%;
    height: auto;
    margin: 0 auto; /* Centraliza horizontalmente */
    position: absolute;
    top: 10%;
    left: 0; 
    right: 0; 
}

#photo-gallery {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#photo-gallery li {
    width: calc(20% - 10px); /* 5 fotos por linha */
    list-style: none;
}

#photo-gallery img {
    width: 100%;
    display: block;
    transition: transform 0.3s, box-shadow 0.3s;
}

#photo-gallery img:hover {
    transform: scale(4.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
